header {
    background-color: rgba(44, 62, 80, 255);
    height: 4rem;
}

div.my-border {
    border: 1px solid red;
}

.my-bg-green {
    background-color: rgba(26, 188, 156, 255);
}

.my-height {
    height: 40rem;
}

/* rgba(58,84,109,255) */