header {
    background-color: rgba(44, 62, 80, 255);
    height: 4rem;
}

div.my-border {
    border: 1px solid red;
}

.my-jumbotron {
    height: 40rem;
    background-color: rgba(26, 188, 156, 255);
}